.size-box {
  max-width: 680px;
}
.hero-section {
  background-color: $dark-section;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__name {
  color: $white-color;
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
}
.hero-btn__button {
  background-color: $accent-color;
  color: $white-color;
  margin: 0px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  align-items: center;
  border: none;
}
.background {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
