.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-primary-color;
}
.team-name {
  margin-bottom: 50px;
  margin-top: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-block .team-list {
  box-shadow: $footer-color;
  border-radius: 0px 0px 4px 4px;
}
.team-block .team-list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.team-list > .team-list__detalis {
  box-shadow: $shadow;
}
.team-list {
  padding: 0px;
}
.team-list,
.team-list__description {
  margin: 0px;
}
.team-list__detalis {
  background-color: $white-color;
}
.team-list__detalis:not(:last-child) {
  margin-right: 30px;
}
.team-list__name {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.team-list__name {
  margin-top: 30px;
  margin-bottom: 0px;
}
.team-list__work {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 0;
  color: $second-text-color;
  font-size: 16px;
}
